@model IEnumerable<MyTheatre.Web.ViewModels.VideoViewModel>
@{
    ViewData["Title"] = "Manage Videos";
}

<h2>Manage Videos</h2>

<div class="col-md-offset-11">
    <a class="btn btn-primary" asp-action="CreateVideo">Add Video</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Plot)</th>
        <th>@Html.DisplayNameFor(model => model.ImagePath)</th>
        <th>@Html.DisplayNameFor(model => model.GenreId)</th>
    </tr>
    </thead>
     <tbody>
    @foreach (var item in Model)
    {   
    <tr>
        <td>
            <a asp-action="ViewVideo" asp-route-id="@item.Id">@item.Title</a>
        </td>
        <td>@Html.DisplayFor(modelItem => item.Plot)</td>
        <td>@Html.DisplayFor(modelItem => item.ImagePath)</td>
        <td>@Html.DisplayFor(modelItem => item.GenreId)</td>
        <td>
            <a asp-action="EditVideo" asp-route-id="@item.Id">Edit</a>
            <a asp-action="DeleteVideo" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
     </tbody>
</table>



