@model IEnumerable<MyTheatre.Web.ViewModels.VideoViewModel>
@{
    ViewData["Title"] = "Manage Videos";
}

<h2>Manage Videos</h2>


        <a class="btn btn-primary" asp-action="CreateVideo">Add Video</a>

  
   <table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Plot)</th>
        <th>@Html.DisplayNameFor(model => model.ImagePath)</th>
    </tr>
    </thead>
     <tbody>
    @foreach (var item in Model)
    {
       
    <tr>
        <td>
            <a asp-action="ViewVideo" asp-route-id="@item.Id">@item.Title</a>
        </td>
        <td>@Html.DisplayFor(model => model.Title)</td>
        <td>@Html.DisplayFor(model => model.Plot)</td>
        <td>
            <a asp-action="EditVideo" asp-route-id="@item.Id">Edit</a>
            <a asp-action="DeleteVideo" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
     </tbody>
     </table>



